.status_banner {
  width: 100%;
  height: calc(200px - 5%);
  background: #008069;
  border-left: none;
  display: flex;
  align-items: flex-end;
  padding: 1rem;
}
.hr_status {
  width: 80%;
  margin-left: 20%;
  height: 0.6px !important;
  border: none;
  background-color: gray;
  opacity: 0.5;
}
.status-full {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
}
.close_status {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 30;
}
.close_status span {
  flex-grow: 1;
  text-align: center;
}

.addIcon {
  position: absolute;
  top: 0;
  left: 30px;
  color: "#008069";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid green;
  display: flex;
  align-items: center;
  justify-content: center;
}
.my-status {
  position: absolute;
  top: 0;
  left: 30%;
  bottom: 0;
}
.myStatus-left {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.myStatus-right {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.view-lines {
  width: 100%;
  position: absolute;
  top: -40px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.view-lines span {
  margin-left: 5px;
  width: 20px;
  height: 4px;
  cursor: pointer;
}

.animated_line {
  width: 100%;
  position: absolute;
  top: -100px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.animated_line span {
  position: relative;
  width: 80%;
  height: 12px;
  border-radius: 10px;
  background: #fff;
}

.animated_line span::before {
  content: "";
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #008069;
  animation: doldur 15s;
}
@keyframes doldur {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.svg-1 {
  position: absolute;
  top: -3px;
  left: -4px;
}
.track {
  stroke: #008069;
  stroke-width: 2px;
  fill: none;
}
.track2 {
  stroke: #111b21;
  stroke-width: 10px;
  fill: none;
  stroke-dasharray: 30;
  stroke-dashoffset: 15;
}
.status-img {
  border: 2px solid #008069;
  stroke-dasharray: 30;
  stroke-dashoffset: 15;
}
/* Status seen by */

.see-users-main {
  width: 100%;
  height: 40%;
  background: #182229;
  overflow-y: auto;
}
.see-users-main header {
  padding-left: 1rem;
  width: 100%;
  height: 15%;
  background: #008069;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.see-users-main span {
  flex-grow: 1;
  text-align: center;
}
.emoji-status {
  position: absolute;
  top: -110%;
  left: 0;
}
